@model CrudUsingADO.Models.Student

@{
    ViewData["Title"] = "Create";
}



<h4>Add Student</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @* <div class="form-group"> *@
            @*     <label asp-for="StudentId" class="control-label"></label> *@
            @*     <input asp-for="StudentId" class="form-control" /> *@
            @*     <span asp-validation-for="StudentId" class="text-danger"></span> *@
            @* </div> *@
            <div class="form-group mb-3">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Grade" class="control-label"></label>
                <input asp-for="Grade" class="form-control" />
                <span asp-validation-for="Grade" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <input type="submit" value="Add Student" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<p>@ViewBag.ErrorMsg</p>
<div>
    <a asp-action="Index">Back to List</a>
</div>

